#===================================#
# CAUTION:
# - Do not put real values in this template.
# - Copy this file to .env and place values there.
#
#===================================#
# Finnhub API Configuration
# -------------------------------------
# This key is required to fetch real-time and historical market data
# from the Finnhub API.
FINNHUB_API_KEY=