#===================================#
# CAUTION:
# - Do not put real values in this template.
# - Copy this file to .env and place values there.
#
#===================================#
# Finnhub API Configuration
# -------------------------------------
# This key is required to fetch real-time and historical market data
# from the Finnhub API.
FINNHUB_API_KEY=

#===================================#
# KEYCLOAK POSTGRES CONFIGURATION
# -------------------------------------
KEYCLOAK_DB_NAME=
KEYCLOAK_DB_USERNAME=
KEYCLOAK_DB_PASSWORD=

#===================================#
# KEYCLOAK CONFIGURATION
# -------------------------------------
KEYCLOAK_ADMIN_USERNAME=
KEYCLOAK_ADMIN_PASSWORD=